.fix2 {
  padding-left: 10%;
}

.fix1 {
  width: 15%;
  height: auto;
  margin: 20%;
  display: inline-block;
}

.MediaFix {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  color: black;
  padding: 50px;
  font-size: 50px;
}

hr {
  border-color: black;
  border-radius: 40px;
}
